/*-------  ここから共通のCSS  --------*/
/* body {
  margin: 0;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  color: #888;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  transition: all .3s;
}

a:hover {
  color: #5983ff;
  text-decoration: none;
}

h2, h3, h4, h5, h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 400;
}

h4, h5 {
  color: #444;
  font-size: 18px;
}

h3:before, h3:after{
  content: "";
  background-color: #616161;
  display: inline-block;
  width: 120px;
  height: 1px;
  margin: 0 6rem;
  vertical-align: middle;
}

.container {
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.section-title {
  color: #555;
  padding-top: 60px;
  padding-bottom: 10px;
  text-align: center;
}

.section-title h3 {
  margin: 10px 0;
  font-size: 32px;
  font-weight: 300;
  line-height: 36px;
}

.gray-section {
  background: #f4f4f4;
  color: #888;
} */
/*-------  ここまで共通のCSS  --------*/

li {
  margin: 0;
  padding: 0;
  list-style: none;
}


/*-------  ここからheader  --------*/
header {
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  line-height: 50px;
  box-shadow: -1px 1px 1px rgba(0,0,0,0.1);
  z-index: 10;
  }

.header-title {
  float: left;
  padding-left: 50px;
}

.header-title img {
  width: 300px;
  height: 60px;
  padding-left: 10px;
}


.header-menu-right {
  float: right;
  padding-right: 80px;
  padding-top: 5px;
}

.header-menu-right li {
  float: left;
}

.header-menu-right a {
  color: blue;
  font-weight: 700;
  padding: 10px;
  text-decoration: none;

}

.header-menu-right a:hover {
  color: #5983ff;
  transition: color .3s;
}
/*-------  ここまでheader  --------*/


/* メイン部分 */

@keyframes fade-in5 {
  0% {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fade-in1 {
  0% {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

header {
  width: 100%;
  margin-bottom: 60px;
  background: linear-gradient(to right, #ffffffcc, #85e1fd);
}

.top-container {
  display: flex;
  justify-content: space-around;
  height: auto;
  background-color: #feffdf;
  margin-top: 60px;
}

.top-left {
  margin-top: 30px;
  width: 50%;
  animation-name: fade-in5;
  animation-duration: 4s; 
  animation-timing-function: ease-out; 
  animation-delay: 0s; 
  animation-iteration-count: 1; 
  animation-direction: normal; 
  animation-fill-mode: forwards; 

}

.top-img {
  width: 100%;
}


.top-img img {
  display: block;
  box-sizing: border-box;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 20px;
  border-radius: 5%;
  box-shadow: 8px 8px 4px gray;
  user-select: none;

  animation-name: fade-in5;
  animation-duration: 4s; 
  animation-timing-function: ease-out; 
  animation-delay: 0s; 
  animation-iteration-count: 1; 
  animation-direction: normal; 
  animation-fill-mode: forwards; 
  
}

.self-content {
  margin-top: 30px;
  margin-right: 20px;
  margin-bottom: 60px;
  width: 60%;
  background: linear-gradient(to right, #f7adf7, #ffffff);
  padding: 20px 40px;
  border-radius: 5%;
  box-shadow: 8px 8px 4px gray;

  animation-name: fade-in1;
  animation-duration: 4s; 
  animation-timing-function: ease-in; 
  animation-delay: 0s; 
  animation-iteration-count: 1; 
  animation-direction: normal; 
  animation-fill-mode: forwards; 

}

#profile {
  color: green;
  font-weight: bold;
  font-size: 19px;
}

.self-tag{
  padding-bottom: 20px;
  font-weight: bold;
  color: yellow;
}

.self-content p {
  padding-left: 40px;
  font-size: 17px;
}

.two-img {
  width: 100%;

}

.two-table {
  width: 100%;
  height: 250px;

}

.two-table td {
  width: 50%;
}


.table-culm {
  width: 100%;

}


.top-book {
  display: block;
}

.top-book {
  position: relative;
  cursor: pointer;

}

.top-boad {
  position: relative;
}

.top-book img {
  height: 170px;
  margin-left: 15%;
  margin-right: 15%;
  vertical-align: middle;
  border-radius: 3%;
  width: 70%;
  box-shadow: 8px 8px 4px gray;
  
}

.top-book p {
  position: absolute;
  top: 25%;
  left: 35%;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  user-select: none;
}

.top-book a {
  color: blue;
  text-decoration: none;
}

.top-book a:hover{
  color: #5983ff;
  transition: color .3s;
}


.top-boad img {
  width: 70%;
  height: 170px;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 3%;
  box-shadow: 8px 8px 4px gray;
  cursor: pointer;
}

.top-boad p {
  top: 35%;
  left: 38%;
  position: absolute;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.top-boad a {
  color: blue;
  text-decoration: none;
}

.top-boad a:hover{
  color: #5983ff;
  transition: color .3s;
}


/* メニューリスト */

.menu-list {
  background: linear-gradient(to right, #f08c4acc, #f7ebb7);
  padding-top: 40px;
  padding-bottom: 60px;
}

.inner {
  padding-top: -50px;
  margin-left: 80px;
  margin-right: 80px;
  padding-bottom: 30px;
  background-size: cover;
  border-radius: 1%;
  height: 900px;
  display: flex;
  background-image: url("./img/DSC01598.JPG");
  box-shadow: 12px 12px 4px rgba(73, 73, 73, 0.623);
}

.menu-title {
  height: 70px;
  width: 50%;
  margin-top: 40px;
  padding: 20px;
  opacity: 0.8;
  background: linear-gradient(to right, yellow, #f7ebb7);
}

.menu-title h2 {
  text-align: start;
  margin-top: -5px;
  padding: -10px;
}

.menu-lists {
  color: white;
  margin-left: 20%;
  margin-bottom: -10px;
  width: 100%;
  height: 200px;
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 45%);

}

.menu-list li {
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
}



a {
  color: whitesmoke; 
}

a:hover {
  color: yellow;
}

footer {
  text-align: center;
  height: 60px;
  padding: 15px 0px;
  background: linear-gradient(to top, #ffffff, #b4b4b4);
}




/*-------  ここからハンバーガー  --------*/
.wrapper {
  height: 100%;
  overflow-x: hidden;
  position: relative;
}
.overlay {
  content: "";
  display: block;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  transition: opacity .5s;
}
.overlay.open {
  width: 100%;
  height: 100%;
  opacity: 1;
}
main {
  height: 100%;
  min-height: 100vh;
  padding: 0 50px;
  background-color: #eee;
  transition: all .5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main.open {
  transform: translateX(-250px);
}
main h1 {
  text-align: center;
  font-weight: 500;
}
main p {
  text-align: center;
}
.menu-trigger {
  display: inline-block;
  width: 36px;
  height: 28px;
  vertical-align: middle;
  cursor: pointer;
  position: fixed;
  top: 10px;
  right: 30px;
  z-index: 100;
/*   transform: translateX(0);
  transition: transform .5s;
 */}
/* .menu-trigger.active {
  transform: translateX(-250px);
}
 */.menu-trigger span {
  display: inline-block;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  padding-top: 5px;
  background-color:burlywood;
  transition: all .5s;
}
.menu-trigger.active span {
  background-color: #fff;
}
.menu-trigger span:nth-of-type(1) {
  top: 0;
}
.menu-trigger.active span:nth-of-type(1) {
  transform: translateY(12px) rotate(-45deg);
}
.menu-trigger span:nth-of-type(2) {
  top: 12px;
}
.menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}
.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}
.menu-trigger.active span:nth-of-type(3) {
  transform: translateY(-12px) rotate(45deg);
}
 
nav {
  width: 250px;
  height: 100%;
  padding-top: 100px;
  background-color: rgb(16, 69, 153, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  transform: translate(250px);
  transition: all .5s;
}
nav.open {
  transform: translateZ(0);
}
nav li {
  color: #fff;
  text-align: center;
  padding: 10px 0;
}









