/*-------  ここから共通のCSS  --------*/
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.common_title{
  margin-top: 10px;
  text-align: center;
  font-size: 25px;
}

/*-------  ここまで共通のCSS  --------*/


/*-------  ここからheader  --------*/
header {
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  line-height: 50px;
  box-shadow: -1px 1px 1px rgba(0,0,0,0.1);
  z-index: 10;
}

/* 旅行ページのみヘッダー配置修正 */
.trip_header {
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: -30px;
  background-color: white;
  box-shadow: -1px 1px 1px rgba(0,0,0,0.1);
  z-index: 10;
}


.header-title {
  float: left;
  padding-left: 50px;
  display: flex;
}

.header-font {
  font-size: 23px;
  margin-top: 8px;
  color: #507cff;
  font-weight: bold;
  font-family: fantasy;
}

.header-font_trip {
  font-size: 23px;
  margin-top: -10px;
  color: #507cff;
  font-weight: bold;
  font-family: fantasy;
}


.header-title img {
  width: 300px;
  height: 60px;
  padding-left: 10px;
}


.header-menu-right {
  float: right;
  padding-right: 80px;
  padding-top: 5px;
}

.header-menu-right li {
  float: left;
}

.header-menu-right a {
  color: blue;
  font-weight: 700;
  padding: 10px;
  text-decoration: none;

}

.header-menu-right a:hover {
  color: #5983ff;
  transition: color .3s;
}

/* 旅行ページのみヘッダー配置修正 */
.header-menu-right_trip {
  float: right;
  padding-right: 80px;
  padding-top: 10px;
  margin-top: -0.5px;
  margin-bottom: -1px;
}

.header-menu-right_trip li {
  float: left;
}

.header-menu-right_trip a {
  color: blue;
  font-weight: 700;
  padding: 10px;
  text-decoration: none;

}

.header-menu-right_trip a:hover {
  color: #5983ff;
  transition: color .3s;
}

/*-------  ここまでheader  --------*/


/* メイン部分 */

@keyframes fade-in5 {
  0% {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fade-in1 {
  0% {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

header {
  width: 100%;
  margin-bottom: 60px;
  background: linear-gradient(to right, #ffffff, #85e1fd);
}

.top-container {
  display: flex;
  justify-content: space-around;
  height: auto;
  /* background-color: #feffdf; */
  background-image: url(./img/top_back.jpg);
  margin-top: 60px;
}

.top-left {
  margin-top: 30px;
  width: 50%;
  animation-name: fade-in5;
  animation-duration: 4s; 
  animation-timing-function: ease-out; 
  animation-delay: 0s; 
  animation-iteration-count: 1; 
  animation-direction: normal; 
  animation-fill-mode: forwards; 

}

.top-img {
  width: 100%;
}

.top-img img {
  display: block;
  box-sizing: border-box;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 20px;
  border-radius: 5%;
  box-shadow: 8px 8px 4px gray;
  user-select: none;

  animation-name: fade-in5;
  animation-duration: 4s; 
  animation-timing-function: ease-out; 
  animation-delay: 0s; 
  animation-iteration-count: 1; 
  animation-direction: normal; 
  animation-fill-mode: forwards; 
}

.self-content {
  margin-top: 30px;
  margin-right: 20px;
  margin-bottom: 60px;
  width: 60%;
  background: linear-gradient(to right, #ffc5ff, #ffffff);
  /* background-image: url(./img/top_jikoshoukai_back.jpg); */
  padding: 20px 40px;
  border-radius: 1%;
  box-shadow: 8px 8px 4px gray;

  animation-name: fade-in1;
  animation-duration: 4s; 
  animation-timing-function: ease-in; 
  animation-delay: 0s; 
  animation-iteration-count: 1; 
  animation-direction: normal; 
  animation-fill-mode: forwards;
}

#profile {
  color: green;
  font-weight: bold;
  font-size: 19px;
}

.self-tag{
  padding-bottom: 20px;
  font-weight: bold;
  color: rgb(80, 80, 255);
}

.self-content p {
  padding-left: 40px;
  font-size: 17px;
}

.two-img {
  width: 100%;

}

.two-table {
  width: 100%;
  height: 250px;
}

.two-table td {
  width: 33%;
}

.table-culm {
  width: 100%;
  height: 100px;
}

.top-book {
  display: block;
}

.top-book {
  position: relative;
  cursor: pointer;

}

.top-boad {
  position: relative;
}

.top-book img {
  height: 110px;
  margin-bottom: 30px;
  margin-left: 10%;
  margin-right: 10%;
  vertical-align: middle;
  border-radius: 3%;
  width: 80%;
  box-shadow: 8px 8px 4px gray;
}

.top-book p {
  position: absolute;
  top: 26%;
  left: 10%;
  right: 10%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  user-select: none;
}

.top-book a {
  color: rgb(0, 13, 131);
  text-decoration: none;
}

.top-book a:hover{
  color: #5983ff;
  transition: color .3s;
}

.top-boad img {
  width: 70%;
  height: 170px;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 3%;
  box-shadow: 8px 8px 4px gray;
  cursor: pointer;
}

.top-boad p {
  top: 35%;
  left: 38%;
  position: absolute;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.top-boad a {
  color: blue;
  text-decoration: none;
}

.top-boad a:hover{
  color: #5983ff;
  transition: color .3s;
}


/* メニューリスト */
.menu-list {
  background: linear-gradient(to right, #f08c4acc, #f7ebb7);
  padding-top: 40px;
  padding-bottom: 60px;
}

.inner {
  padding-top: -50px;
  margin-left: 80px;
  margin-right: 80px;
  padding-bottom: 30px;
  background-size: cover;
  border-radius: 1%;
  height: 900px;
  display: flex;
  background-image: url("./img/DSC01598.JPG");
  box-shadow: 12px 12px 4px rgba(73, 73, 73, 0.623);
}

.menu-title {
  height: 70px;
  width: 50%;
  margin-top: 40px;
  padding: 20px;
  opacity: 0.8;
  background: linear-gradient(to right, yellow, #f7ebb7);
}

.menu-title h2 {
  font-size: 18px;
  text-align: start;
  margin-top: -5px;
  padding: -10px;
}

.menu-lists {
  color: white;
  margin-left: 20%;
  margin-bottom: -10px;
  width: 100%;
  height: 200px;
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 45%);

}

.menu-list li {
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
}

a {
  color: whitesmoke; 
}

a:hover {
  color: yellow;
}

footer {
  text-align: center;
  height: 60px;
  padding: 15px 0px;
  background: linear-gradient(to top, #ffffff, #b4b4b4);
}

/* 加害者との対面 */
.kagaisha_main_title {
  width: 68%;
  text-align: center;
  margin: 0 auto;
  font-size: 15px;
  font-weight: bold;
  background: #a6d3c8;
  box-shadow: 0px 0px 0px 5px #a6d3c8 ;
  border: dashed 3px white;
  padding: 0.9em 0.5em;
  margin-top: 50px;
  margin-bottom: 40px;
}

.kagaisha_title {
  margin: 30px auto;
  margin-bottom: 50px;
  width: 65%;
  font-size: 32px;
  font-weight: bold;
  position: relative;
  padding: 0.5em;
  background: #a6d3c8;
  color: rgb(39, 69, 238);
  box-shadow: 8px 3px 4px gray;
}

.kagaisha_title::before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px rgb(149, 158, 155);
}

.mov_area {
  width: 50%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 2%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
  background-image: url(./202105_newIMAGE/mov_back2.jpg);
  box-shadow: 8px 8px 4px gray;
}

.kagaisha_main1 {
  padding-top: 20px;
  padding-bottom: 30px;
  margin: 0 auto;
  margin-bottom: 40px;
  width: 75%;
  background-image: url(./202105_newIMAGE/main_back2.jpg);
  box-shadow: 8px 8px 4px gray;
}

.kagaisha_main2 {
  padding-top: 20px;
  padding-bottom: 30px;
  margin: 0 auto;
  margin-bottom: 40px;
  width: 75%;
  background-image: url(./202105_newIMAGE/kagaisha_back.gif);
  box-shadow: 8px 8px 4px gray;
}

.kagaisha_body{
  background-image:url(./img/b087.gif);
  margin-top: 90px;
}

.kagaisha_title {
  text-align: center;
}

.kagaisha_mov_title {
  text-align: center;
}

.kagaisha_mov {
  text-align: center;
}

.kagaisha_img1 {
  margin: 0 auto;
  text-align: center;
}

.font {
  font-size: 20px;
}

.kagaisha_table {
  width: 75%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  background-image: url(./img/haikei_orange.jpg);
  margin: 0 auto;
  margin-bottom: 50px;
  box-shadow: 8px 8px 4px gray;
}


/* 真輝の舞踊 */
.buyou_body{
  background-image:url(./buyou_img/buyou_back.jpg);
  margin-top: 90px;
}

.buyou_title {
  text-align: center;
}

.buyou_main {
  padding-top: 20px;
  padding-bottom: 30px;
  margin: 0 auto;
  margin-bottom: 60px;
  width: 75%;
  background-image: url(./buyou_img/buyou_back2.jpg);
  box-shadow: 8px 8px 4px gray;
}

.buyou_img1 {
  margin: 0 auto;
  text-align: center;
}

.buyou_title {
  margin: 30px auto;
  margin-bottom: 50px;
  width: 60%;
  position: relative;
  background: #ffdffc;
  box-shadow: 0px 0px 0px 5px #ffdff4;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
  color: #454545;
}

.buyou_title:after {
  position: absolute;
  content: '';
  left: -7px;
  top: -7px;
  border-width: 0 0 15px 15px;
  border-style: solid;
  border-color: #fff #fff #ffb6e3;
}


/* 幼き日のCSS */
.osanakihi_title {
  font-size: 34px;
  font-weight: bold;
  margin: 10 auto;
  margin-top: 30px;
  margin-left: 40px;
  margin-bottom: 30px;
  text-align: center  ;
  color: #505050;/*文字色*/
  padding: 0.5em;/*文字周りの余白*/
  display: inline-block;/*おまじない*/
  line-height: 1.3;/*行高*/
  background: #dbebf8;/*背景色*/
  vertical-align: middle;
  border-radius: 25px 0px 0px 25px;/*左側の角を丸く*/
}

.osanakihi_title:before {
  content: '●';
  color: white;
  margin-right: 8px;
}

.osanakihi_body {
  background-image: url(./img/osanakihi_back.gif);
}

.osanakihi_title {
  text-align: center;
}

.osanakihi_main {
  padding-top: 20px;
  padding-bottom: 30px;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 75%;
  background-image: url(./img/osanakihi_back2.jpg);
  box-shadow: 8px 8px 4px gray;
}

.osanakihi_img1 {
  justify-content: center;
  display: flex;
  width:100%;
 object-fit: contain;
}

.osanakihi_table{
  width: 85%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  background-image: url(./img/osanakihi_back3.jpg);
  box-shadow: 8px 8px 4px gray;
  padding-top: 30px;
  padding-left: 30px;
  padding-right:  5%;
  padding-bottom: 50px;
  font-size: 15px;


  /* テーブル内の背景をレインボーにする */
  /* background: -moz-linear-gradient(left,
    rgba(255,0,0,0.2),
    rgba(255,69,0,0.2),
    rgba(255,255,0,0.2),
    rgba(0,128,0,0.2),
    rgba(0,0,255,0.2),
    rgba(75,0,130,0.2),
    rgba(238,130,238,0.2)
  );
  background: -webkit-gradient(linear, left center, right center,
    from(rgba(255,0,0,0.2)),
    color-stop(14%, rgba(255,69,0,0.2)),
    color-stop(28%, rgba(255,255,0,0.2)),
    color-stop(42%, rgba(0,128,0,0.2)),
    color-stop(56%, rgba(0,0,255,0.2)),
    color-stop(70%, rgba(75,0,130,0.2)),
    to(rgba(238,130,238,0.2))
  ); */
}


/* 女性文化賞 */
body {
  margin-top: 50px;
}

.bunka_main_title {
  width: 65%;
  font-size: 15px;
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  background: #ceeffc;
  box-shadow: 0px 0px 0px 5px #ceeffc ;
  border: dashed 3px white;
  padding: 0.9em 0.2em;
  margin-top: 20px;
  margin-bottom: 40px;
}

.bunka_main1 {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url(./bunkasho_img/bunka_img1_back.gif);
  border-width: 5px;
  box-shadow: 8px 8px 4px gray;
}


.bunka_main2 {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url(./img/bunka_back.jpg);
  border-width: 5px;
  box-shadow: 8px 8px 4px gray;
}

.bunka_img1 {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
}

.bunka_font {
  color: green;
}

.bunka_title {
  width: 500px;
  margin: 0 auto;
  padding: 10px 0;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 700;
  color:#3cb3e4;
}

.bunka_subtitle {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  text-shadow: 3px 3px 0 rgba(0,0,0,.2);
}

.bunka_main2 a{
  color: black;
}

.bunka_table a:hover {
  color: blue;
}

.heading {
  margin: 10px 0;
}

.bunka_title4 .heading {
  padding: 15px 5px;
  margin: 10px -20px;
  border: solid 3px #3cb3e4;
  position:relative;
  text-align: center;
  border-radius: 3px;
  background: #fff;
}

.bunka_title4 .heading:after,
.bunka_title4 .heading:before {
  content: '';
  position: absolute;
  bottom: -7px;
  background: #3cb3e4;
  border: solid 2px #3cb3e4;
  width: 25px;
  height: 20px;
  z-index: -1;
}
.bunka_title4 .heading:after {
     left: 2px;
     transform: rotate(120deg);
}
.bunka_title4 .heading:before {
    right: 2px;
    transform: rotate(60deg);
}


/* 思い出の写真 */
.omoide_body {
  background-image: url(./omoide_img/omoide_back.jpg);
  margin-top: 90px;
}

.omoide_table {
  margin: 0 auto;
  padding-top: 100px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  width: 85%;
  table-layout: fixed;
  background-image: url(./omoide_img/omoide_table_back.jpg);
  box-shadow: 10px 10px 4px gray;
  margin-bottom: 50px;
}

.omoide_table p {
  font-size: 18px;
  font-weight: bold;
  color: green;
}

.omoide_table td {
  margin: 0 auto;
  padding-bottom: 80px;
}

.omoide_font {
  text-align: left;
  padding-left: 40px;
  padding-right: 30px;
}

.omoide_title {
  width: 60%;
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  background: #ffd2ff;
  box-shadow: 0px 0px 0px 5px #ffd2ff ;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
  margin-top: 30px;
  margin-bottom: 60px;
}

.omoide_title span {
  font-size: 15px;
  margin: -10px;
}

/* 新聞記事ページ */
.media_title {
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}

.media_table {
  width: 60%;
  margin: 0 auto;
  background-image: url(./img/media_table_back.jpg);
  box-shadow: 8px 8px 4px gray;
}

.media_table2 {
  width: 60%;
  margin: 0 auto;
  padding-top: 22px;
  background-image: url(./img/media_table_back2.gif);
  box-shadow: 8px 8px 4px gray;
}

.media_table a {
  color: blue;
  font-size: 15px;
}

/* 講演実績 */
.kouen_jisseki {
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
}

/* 色のない空 */
.irononaisora_body {
  margin-top: 80px;
}

/* 差別反対 */
.sabetu_body {
  margin-top: 80px;
}

.sabetu_font {
  font-size: 18px;
  padding-left: 20px;
}

.irononaisora_body a:hover{
  color: skyblue;
}

.irononaisora_body table {
  background-color: white;
}

/* 新聞記事ページ */
.media_body{
  margin-top: 80px;
}

.dance_body {
  margin: 0 auto; 
  margin-top: 80px;
  
}

/* 問い合わせページ */
.mail_body {
  text-align: center;
  margin-top: 100px;
  color: black;
  background-image: url(img/mail_back.jpg);
}

.mail_main_div {
  font-size: 20px;
}

.mail_main {
  width: 620px;
  font-size: 20 px;
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  background: rgb(255, 199, 95);
  box-shadow: 0px 0px 0px 5px rgb(255, 199, 95);
  border: dashed 2px white;
  padding: 0.8em 0.9em;
  margin-top: 30px;
  margin-bottom: 20px;
}

.mail_body a {
  color: blue;
}

.mail_body a:hover {
  color: #507cff;
}

/* 公演予定ページ */
.kouen_yotei_body {
  margin-top: 100px;
  color: black;
  background-image: url(img/mail_back.jpg);
}

.kouen_main_div {
  font-size: 20px;
}

.kouen_title {
  width: 450px;
  font-size: 25px;
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  background: rgb(255, 199, 95);
  box-shadow: 0px 0px 0px 5px rgb(255, 199, 95);
  border: dashed 3px white;
  padding: 0.8em 0.9em;
  margin-top: 20px;
  margin-bottom: 15px;
}

.kouen_main {
  width: 60%;
  font-size: 22px;
  margin: 0 auto;
  background: whitesmoke;
  box-shadow: 0px 0px 0px 5px whitesmoke;
  border: dashed 1px black;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left:120px;
  padding-right: 80px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.kouen_main_mitei {
  width: 550px;
  font-size: 22px;
  margin: 0 auto;
  background: whitesmoke;
  box-shadow: 0px 0px 0px 5px whitesmoke;
  border: dashed 1px black;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.kouen_yotei_bikou {
  text-align: center;
  
}

.kouen_yotei_body a {
  color: blue;
}

.kouen_yotei_body a:hover {
  color: #507cff;
}


/* 家族旅行ページ */
.trip_body {
  margin-top: 90px;
  margin-left: 20px;

}
.trip_table {
  background-color: #FFFF99;
  margin-bottom: 30px;
}

.trip_table img {
  margin-top: 1px;
  margin-bottom: 1px;
}

.trip_table  {
  border: 1px solid blue;
}

.trip_table tr td {
  border: 1px double blue;

}

/* 書籍ページ */
.books_body {
  margin-left: 20px;
}

/*-------  ここからハンバーガー  --------*/
.wrapper {
  height: 100%;
  overflow-x: hidden;
  position: relative;
}
.overlay {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  transition: opacity .5s;
}
.overlay.open {
  width: 100%;
  height: 100%;
  opacity: 1;
}
main {
  height: 100%;
  min-height: 100vh;
  padding: 0 50px;
  background-color: #eee;
  transition: all .5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main.open {
  transform: translateX(-250px);
}
main h1 {
  text-align: center;
  font-weight: 500;
}
main p {
  text-align: center;
}
.menu-trigger {
  display: inline-block;
  width: 36px;
  height: 28px;
  vertical-align: middle;
  cursor: pointer;
  position: fixed;
  top: 10px;
  right: 30px;
  z-index: 100;
/*   transform: translateX(0);
  transition: transform .5s;
 */}
/* .menu-trigger.active {
  transform: translateX(-250px);
}
 */.menu-trigger span {
  display: inline-block;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  padding-top: 5px;
  background-color:burlywood;
  transition: all .5s;
}
.menu-trigger.active span {
  background-color: #fff;
}
.menu-trigger span:nth-of-type(1) {
  top: 0;
}
.menu-trigger.active span:nth-of-type(1) {
  transform: translateY(12px) rotate(-45deg);
}
.menu-trigger span:nth-of-type(2) {
  top: 12px;
}
.menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}
.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}
.menu-trigger.active span:nth-of-type(3) {
  transform: translateY(-12px) rotate(45deg);
}
 
nav {
  width: 250px;
  height: 100%;
  padding-top: 100px;
  background-color: rgb(16, 69, 153, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  transform: translate(250px);
  transition: all .5s;
}
nav.open {
  transform: translateZ(0);
}
nav li {
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

